//----------------------------------------
//  components/color/color
//----------------------------------------

.slider {
  width: 400px;
  input {
    display: inline-block;
    width: auto;
  }
}

.sliderRender {
  height: 50px;
  width: 400px;
}